@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: .5rem 1rem;
    background: #2c3e50;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    color: white;
    background: #3c536b;;
}

/* Nav -------------------------------------------------------- */
nav ul {
    display: flex;
    justify-content: space-around;
    background: #2c3e50;
    font-family: 'Open Sans', sans serif;
    font-weight: bold;
}

nav li {
    padding: 1em;
}

nav  a {
    text-decoration: none;
    color: #95a5a6;
}

nav a:hover {
    color: #7f8c8d;
}

/* Header ----------------------------------------------------- */
body > header {
    height: 300px;
    background: url(../images/gm-efc0f2d1-dbbc-472a-9747-bdcbbd8cc27f-specs1-483378.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

#header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #fff;
    width: 30%;
    height: 100%;
    font-family: 'Open Sans', sans serif;
    font-weight: bold;
}

#header-content h1 {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 3.4em;
}

#header-content h2 {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 1.4em;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #3c536b;
    color: #95a5a6;
}

.read-more:hover {
    color: #bececf;
    background: #34485f;;
    transition: .25s;
}

/* Home ------------------------------------------------------- */
.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    font-family: 'Poppins', sans serif;
    text-align: center;
}

.post-heading h3 {
    color: #eb2f06;
    font-size: 14px;
    line-height: 1.3;
}

.post-heading h2 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 500;
    color: #272727;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.post-box {
    width: 350px;
    background: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}

.post-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.post-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-fit: center;
    margin: 10px;
}

.post-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-text h3 {
    color: #eb2f06;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 2px;
    font-weight: bold;
}

.post-text .post-title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
    color: #272727;
}

.post-text .post-title:hover {
    color: #eb2f06;
    transition: all ease 0.3s;
}

.post-text p {
    color: #9b9b9b;
    font-size: 14px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.post-read-more:hover {
    color: #eb2f06;
    transition: all ease 0.3s;
}

/* About ------------------------------------------------------ */
.about-box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.about-box {
    padding: 40px;
    border-radius: 10px;
    font-family: 'Poppins', sans serif;
    text-align: center;
    width: 70%;
}

.about-box h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.about-box h3 {
    line-height: 1.6;
}

.about-box-1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: whitesmoke;
}

.about-box-1 {
    padding: 40px;
    border-radius: 10px;
    background: whitesmoke;
    font-family: 'Poppins', sans serif;
    width: 45%;
}

.about-box-1 h3 {
    color: #eb2f06;
    font-size: 0.9rem;
}

.about-box-1 p {
    line-height: 1.6;
    margin-top: 5px;
}


/* Contact ---------------------------------------------------- */
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Poppins', sans serif;
}

/* Social Media ---------------------- */
.contact-social-media {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 20px;
    background: whitesmoke;
}

.contact-social-media h2 {
    font-size: 2.4rem;
    line-height: 1.6;
}

.contact-social-media img {
    height: 50px;
    width: auto;
}

.contact-social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-social-media li {
    margin: 15px;
}

.icon {
    height: 30px;
    width: 30px;
}

/* Form ------------------------------ */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: whitesmoke;
    font-family: 'Poppins', sans serif;
}

.form-container h2 {
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.form-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}



/* Footer ----------------------------------------------------- */
footer p {
    text-align: center;
    padding: 1em;
}

/* Media Queries ---------------------------------------------- */
@media(max-width: 1250px){
    .post-box{
        width: 300px;
    }
}

@media(max-width: 1100px){
    .post-box{
        width: 70%;
    }

    .about-box {
        width: 80%;
    }

    .about-box-1 {
        width: 80%;
    }
}

@media(max-width: 550px){
    .post-box{
        margin: 20px 10px;
        width: 100%;
    }

    .post {
        padding: 20px;
    }
}