@import url(./reset.css);



/* Nav */
nav ul {
    display: flex;
    justify-content: space-around;
    background: #2c3e50;
}

nav li {
    padding: 1em;
}

nav  a {
    text-decoration: none;
    color: #95a5a6;
}

nav a:hover {
    color: #7f8c8d;
}

/* Header */
body > header {
    height: 300px;
    background: url(../images/gm-efc0f2d1-dbbc-472a-9747-bdcbbd8cc27f-specs1-483378.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header-grid {
    display: grid;
    grid-template-columns: 300px, 1000px;

}






#header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #fff;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    width: 30%;
    height: 100%;
}

. {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 30%;
    height: 100%;
    margin-right: 1em;
}

#header-message p {
    padding: 1em;
    color: #fff;
    border-radius: 5px;
    color: rgb(226, 226, 226);
    background: rgb(148, 148, 148);
    text-align: center;
    width: 50%;
}

#header-content h1 {
    font-size: 3.4em;
}

#header-content h2 {
    font-size: 1.6em;
}

#header-content button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: rgb(226, 226, 226);
    background: rgb(148, 148, 148);
}

/* Main */
main {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 200px;
    padding: 1em;
}

article img {
    width: 100%;
}

/* Aside */
aside {
    order: 1;
    width: 30%
}


/* Footer */
footer p {
    text-align: center;
    margin-top: 1em;
}